*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
}
.container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            flex-direction: column;
}
.box {
            text-align: center;
}
        input {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #022643;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 20px;
            font-size: 35px;
            color: #022643;
        }
        button {
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            color: white;
            background-color: #022643;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        button:hover {
            background-color: #03467a;
        }
        .result {
            margin-top: 15px;
            font-size: 20px;
            color: #022643;
            font-weight: bold;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            gap: 10px;
        }
        .card {
            width: 80px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
            background-color: #022643;
            border-radius: 10px;
            font-size: 14px;
        }